MONGODB_PASSWORD =
PORT =
MONGODB_USER =
MONGODB_PASSWORD = 
MONGODB_URL =
MONGODB_DB =

SMTP_AUTH_PWD =
SMTP_HOST =
SMTP_PORT =
SMTP_LOGIN =
JWT_SECRET =

CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
UPLOAD_TO_CLOUDINARY =